html, body{
	margin:0; padding:0;
	height:100%
}
body{
	background-color:#fff; 
	font-size: 14px; 
	line-height:20px; 
	font-family: 'NanumSquare', Dotum, Gulim, sans-serif;
	color: #666;
}
*, *:after, *:before { 
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, 
textarea, p, blockquote, th, 
td, figure, figcaption, select {
	margin: 0; padding: 0;
}
strong{
	font-family: 'NanumSquareB';
}
a{
	color: #666;
	text-decoration: none;
}
a:hover {
	color:#666;
}
a:active, a:link, a:hover {
	color: #fff;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.txt_chinese{
	font-family: Dotum, Gulim, sans-serif;
}
/*글씨 감추기*/
.blind {
	left: 0px; top: -10000em; 
	overflow: hidden; 
	display: block; 
	position: absolute;
}
/*header*/
header{
	position: fixed;
	right: 0; top: 0;
	display: block;
	width: 100%; height: 80px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
}
.headerWarp{
	position: relative;
	margin:0 auto;
	width: 96%;
	overflow: hidden;
	display: block;
}
h1{
	float: left;
	margin-top: 23px;
}
h1 a{
	width: 169px; height: 37px;
	display: block;
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
	header{
		height: 50px;
	}
	.headerWarp{
		margin-top: 2px;
	}
	h1{
		float: none;
		margin-top: 5px;
	}
	h1 a{
		width: 153px; height: 37px;
		float: none;
		margin:0 auto;
	}
}
@media screen and (min-width: 300px) and (max-width: 1023px) {
	.headerWarp{
		width: 100%;
	}
}
/*@media screen and (min-width: 1620px) {
	.headerWarp{
		width: 1620px;
	}
}*/
footer{
	position: relative;
	overflow: hidden;
	width: 100%; height: 33px;
	display: block;
	border-top: 1px solid #eeeeee;
	font-size: 11px;
	color: #999;
	text-align: center;
	line-height: 33px;
}